<!DOCTYPE html>
<html>

<head>
  <title>Admin Password Reset</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script type="text/javascript" src="crypto-js.js"></script>

  <script>
    function checkPassword(event) {
      const password1 = document.getElementById("password1").value;
      const password2 = document.getElementById("password2").value;
      let passwordValid = false;
      let message = "";
      if(password1 == ""){
        message = "Please enter a password";
      } else if (password2 == ""){
        message = "please re enter password";
      } else if (password1 != password2){
        message = "Passwords didn't match";
      } else {
        passwordValid = true;
      }
      if(!passwordValid){
        document.getElementById("message").innerHTML = message;
        event.preventDefault();
      } else {
        let salt = CryptoJS.lib.WordArray.random(8);
        document.getElementById("salt").value = salt;
        let hashed = CryptoJS.SHA256(password1 + ":" + salt).toString(CryptoJS.enc.Hex);
        document.getElementById("hash").value = hashed;
      }
    }
  </script>

</head>

<body>
<div>
       <!-- SIDEBAR -->
       <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; display: inline; float: left; position: absolute;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">Admin Tools Menu</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="../admin" class="nav-link link-dark " aria-current="page">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#customer"></use></svg>
              Account Roles
            </a>
          </li>
          <li>
            <a href="../adminPasswordReset" class="nav-link link-dark active" >
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#transfer"></use></svg>
              Password Reset Tool
            </a>
          </li>
          <li>
            <a href="../login" class="nav-link link-dark" >
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#transfer"></use></svg>
              Logout
            </a>
          </li>
        </ul>
        <hr>
      </div>
    <!-- END SIDEBAR -->

<!-- Start Transfer Form -->
  <div class="rounded d-flex justify-content-center p-2">
    <h2 class="display-3 text-center text-primary">Ruiz Banking</h2>
    <div class="container-fluid vh-100" style="margin-top:10px">
      <div class="" style="margin-top:100px">
        <div class="rounded d-flex justify-content-center">
          <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
            <div class="text-center">
              <h3 class="display-3 text-center text-primary">Admin Password Change</h3>
            </div>
            <form onSubmit="return checkPassword(event);" method="post">
              <div class="p-4 text-center">
                <div class="input-group mb-3">
                  <span class="input-group-text bg-primary">
                    <i class="bi bi-person-plus-fill text-white"></i>
                  </span>
                  <input id="username" name="username" type="text" class="form-control" placeholder="Username">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text bg-primary">
                      <i class="bi bi-person-plus-fill text-white"></i>
                    </span>
                    <input id="password1" type="password" class="form-control" placeholder="Enter New Password">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text bg-primary">
                      <i class="bi bi-person-plus-fill text-white"></i>
                    </span>
                    <input id="password2" type="password" class="form-control" placeholder="Re-Enter New Password">
                  </div>
                <div class="input-group mb-3">
                  </div>
                  <p id="message" class="text-danger" style="height:25px;">
                    <%- locals.message %>
                  </p>
                </div>
                <input type="hidden" id="hash" name="hash">
                <input type="hidden" id="salt" name="salt">
                <button class="btn btn-primary mt-2" type="submit">
                  Submit Change
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--   
  <div class="rounded d-flex justify-content-center">
    <button type="button" class="btn btn-primary" onclick="window.location.href='/'">Return to main</button>
  </div>
</div> -->
  
</body>

</html>