<!DOCTYPE html>
<html>

<head>
  <title>Transfer History</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>

<body>
<div>

     <!-- SIDEBAR -->
     <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; display: inline; float: left; position: absolute;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">Employee Tools Menu</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="../employeeAccounts" class="nav-link link-dark " aria-current="page">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#customer"></use></svg>
              Accounts
            </a>
          </li>
          <li>
            <a href="../employeeTransfer" class="nav-link link-dark" >
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#transfer"></use></svg>
              Transfer
            </a>
          </li>
          <li>
            <a href="../employeeTransferHistory" class="nav-link link-dark active" >
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#transfer"></use></svg>
              Transfer History
            </a>
          </li>
          <a href="../login" class="nav-link link-dark " >
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#transfer"></use></svg>
            Logout
          </a>
        </li>
        </ul>
        <hr>
      </div>
    <!-- END SIDEBAR -->
<div class="rounded d-flex justify-content-center p-2">
    <h2 class="display-3 text-center text-primary">Dolly Parton's Transfer History</h2>
  </div>
<!-- START CHECKING -->
<div class="rounded d-flex justify-content-center p-2" >
    
    <!-- <div class="m-2" style="width: 400px; margin-left: auto;
    margin-right: auto; position: relative;">
      <h5 style="display: inline;">Transfers</h1>

    </div> -->
  </div>

  <div class="rounded d-flex justify-content-center">
    <div class="m-2" style="width: 400px">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th colspan="4">Outbound</th>
            </tr>
            <tr>
              <th scope="col">Transaction</th>
              <th scope="col">Amount</th>
              <th scope="col">Date</th>
              <th scope="col">Memo</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>
                  Transfer to BILLY MANNING
                </td>
                <td>
                  $12.43
                </td>
                <td>
                    12/1/2023
                  </td>
                  <td>
                    PIZZA HUT
                  </td>
              </tr>
              <tr>
                <td>
                  Transfer to BRUCE WAYNE
                </td>
                <td>
                  $50.00
                </td>
                <td>
                    12/21/2023
                  </td>
                  <td>
                    For hockey pads
                  </td>
              </tr>
              <tr>
                <td>
                  Transfer to TOM HOLLAND
                </td>
                <td>
                  $75.00
                </td>
                <td>
                    12/25/2023
                  </td>
                  <td>
                    Autograph
                  </td>
              </tr>
              <tr>
                <td>
                  Transfer to ZENDAYA
                </td>
                <td>
                  $25.00
                </td>
                <td>
                    2/07/2023
                  </td>
                  <td>
                    Movie Tickets
                  </td>
              </tr>
          </tbody>
        </table>
        
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th colspan="4">Inbound</th>
              </tr>
              <tr>
                <th scope="col">Transaction</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Memo</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>
                    Transfer from HANS ZIMMERMAN
                  </td>
                  <td>
                    $331.00
                  </td>
                  <td>
                      11/29/2022
                    </td>
                    <td>
                      Piano Lessons
                    </td>
                </tr>
                <tr>
                  <td>
                    Transfer from BILL MURRAY
                  </td>
                  <td>
                    $2000.00
                  </td>
                  <td>
                      11/20/2022
                    </td>
                    <td>
                      No one will ever believe you...
                    </td>
                </tr>
                <tr>
                  <td>
                    Transfer from RALPH MACCHIO
                  </td>
                  <td>
                    $10.00
                  </td>
                  <td>
                      1/01/2023
                    </td>
                    <td>
                      Splitting a cab
                    </td>
                </tr>
            </tbody>
          </table>
    </div>
</div>
</div>
<!--   
  <div class="rounded d-flex justify-content-center">
    <button type="button" class="btn btn-primary" onclick="window.location.href='/'">Return to main</button>
  </div>
</div> -->
  
</body>

</html>