<!DOCTYPE html>
<html>


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enter Login</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css">
  <script>
    function checkUser(event) {
      username = document.getElementById("username").value;
      if (username == "") {
        document.getElementById("message").innerHTML = "Please enter a username";
        event.preventDefault();
      }
      checkPassword(event);
    }
    function checkPassword(event) {
      password = document.getElementById("password").value;
      username = document.getElementById("username").value;
      salt = document.getElementById("salt").value;

      // Put the hashedpassword in DOM so it can be POSTed
      var hashedPassword = CryptoJS.SHA256(password + ":" + salt).toString(CryptoJS.enc.Hex);
      document.getElementById("hashedPassword").value = hashedPassword;

      // POST will occur now, the server will check the credentials afterward.
    }
  </script>

</head>

<body>
  <h2 class="display-3 text-center text-primary">Banking Application</h2>
  <div class="container-fluid vh-100" style="margin-top:10px">
    <div class="" style="margin-top:100px">
      <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
          <div class="text-center">
            <h3 class="text-primary">Sign In</h3>
          </div>
          <form onSubmit="return checkUser(event);" method="post">
            <div class="p-4 text-center">
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary">
                  <i class="bi bi-person-plus-fill text-white"></i>
                </span>
                <input id="username" name="username" type="text" class="form-control" autofocus="autofocus" placeholder="Account ID">
              </div>
              <!-- <div class="input-group mb-3">
                <span class="input-group-text bg-primary">
                  <i class="bi bi-key-fill text-white"></i>
                </span>
                <input id="password" type="password" class="form-control" autofocus="autofocus" placeholder="Password">
              </div> -->
              <div>
                <p id="message" class="text-danger" >
                  <%- locals.message %>
                </p>
              </div>
              <div class="text-center">
                <button class="btn btn-primary mt-2" type="submit">
                  Next
                </button>
                <!-- <input type="hidden" id="username" name="username" value="">
                <input type="hidden" id="salt" name="salt" value="">
                <input type="hidden" id="hashedPassword" name="hashedPassword" value=""> -->
              </div>
              <p class="text-center mt-5">Don't have an account?
                <span class="text-primary"><a href="/register">Sign Up</a></span>
              </p>
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>