<!DOCTYPE html>
<html>

<head>
  <title>Transfer History</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  
<body>
<div>

     <!-- SIDEBAR -->
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; display: inline; float: left; position: absolute;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Customer Menu</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="../customer" class="nav-link link-dark" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#customer"></use></svg>
          My Accounts
        </a>
      </li>
      <li>
        <a href="../transfers" class="nav-link link-dark" >
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#transfer"></use></svg>
          Transfer
        </a>
      </li>
      <li>
        <a href="../transferHistory" class="nav-link link-dark active" >
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#transfer"></use></svg>
          Transfer History
        </a>
      </li>
      <li>
        <a href="../password" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Reset Password
        </a>
      </li>
      <li>
        <a href="../login" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Logout
        </a>
      </li>
    </ul>
    <hr>
  </div>
<!-- END SIDEBAR -->
<div class="rounded d-flex justify-content-center p-2">
    <h2 class="display-3 text-center text-primary">Transfer History</h2>
  </div>
<!-- START CHECKING -->
<div class="rounded d-flex justify-content-center p-2" >
    
    <!-- <div class="m-2" style="width: 400px; margin-left: auto;
    margin-right: auto; position: relative;">
      <h5 style="display: inline;">Transfers</h1>

    </div> -->
  </div>

  <div class="rounded d-flex justify-content-center">
    <div class="m-2" style="width: 400px">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th colspan="4">Outbound</th>
            </tr>
            <tr>
              <th scope="col">Transaction</th>
              <th scope="col">Amount</th>
              <th scope="col">Date</th>
              <th scope="col">Memo</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i =0; i < locals.topTentransfers.length; i++) { %>
              <tr>
                <td>
                  <%- locals.topTentransfers[i].recipient %>
                </td>
                <td>
                  <%- locals.topTentransfers[i].amount %>
                </td>
                <td>
                  <%- locals.topTentransfers[i].timestamp %>
                  </td>
                  <td>
                    <%- locals.topTentransfers[i].memo %>
                  </td>
              </tr>
              <% }; %>
            </tbody>
          </table>
      </div>
  </div>
</div>

</body>

</html>