<!DOCTYPE html>
<html>

<head>
  <title>Transfers</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  
  <script>
    function showAccountID(event, value){
      if(value == 1){
        document.getElementById('account_div').style.visibility = "visible";
        document.getElementById('recipient_div').style.visibility = "visible";
      }
      else{
        document.getElementById('account_div').style.visibility = "hidden";
        document.getElementById('recipient_div').style.visibility = "hidden";
      }
    }

    function checkAccount(event){
      //Get the accounts
      const fromAccount = document.getElementById("fromAccount").value;
      const toAccount = document.getElementById("toAccount").value;
      const amount = parseInt(document.getElementById("amount").value);
      const recipient = document.getElementById("recipient").value;
      const accountID = document.getElementById("accountID").value;
      
      let transferValid = false;
      // let transferExternal = false;

      if(fromAccount == ""){
        message = "Please select an account to send from.";
      }
      else if(toAccount == ""){
        message = "Please select an account to send to.";
      }
      else if (fromAccount == toAccount) {
        message = "Can't send to same account.";
      }
      else if(isNaN(amount))  {
        message = "Please specify amount"
      }
      else if(accountID == "" && toAccount == "Other") {
        message = "Please specify an account id"
      }
      else if(recipient == "" && toAccount == "Other") {
        message = "Please specify a recipient"
      }
      else {
        transferValid = true;
      }

      if(!transferValid) {
        document.getElementById("message").innerHTML = message;
        event.preventDefault();
      }
    }

  </script>
</head>

<body>
<div>
     <!-- SIDEBAR -->
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; display: inline; float: left; position: absolute;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Customer Menu</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="../customer" class="nav-link link-dark" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#customer"></use></svg>
          My Accounts
        </a>
      </li>
      <li>
        <a href="../transfers" class="nav-link link-dark active" >
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#transfer"></use></svg>
          Transfer
        </a>
      </li>
      <li>
        <a href="../transferHistory" class="nav-link link-dark " >
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#transfer"></use></svg>
          Transfer History
        </a>
      </li>
      <!-- <li>
        <a href="../password" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Reset Password
        </a>
      </li> -->
      <li>
        <a href="../login" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Logout
        </a>
      </li>
    </ul>
    <hr>
  </div>
<!-- END SIDEBAR -->

<!-- Start Transfer Form -->
  <div class="rounded d-flex justify-content-center p-2">
    <h2 class="display-3 text-center text-primary">Ruiz Banking</h2>
    <div class="container-fluid vh-100" style="margin-top:10px">
      <div class="" style="margin-top:100px">
        <div class="rounded d-flex justify-content-center">
          <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
            <div class="text-center">
              <h3 class="display-3 text-center text-primary">Transfer</h3>
            </div>
            <form onSubmit="return checkAccount(event);" method="post">
              <div class="p-4 text-center">
                <div class="input-group mb-3">
                  
                  <span class="input-group-text bg-primary">
                    <i class="bi bi-person-plus-fill text-white"></i>
                  </span>
                  <select class="form-select" aria-label="fromAccount" name="fromAccount" id="fromAccount">
                    <option value = "" selected>From Account</option>
                    <option value="Checking">Checking</option>
                    <option value="Savings">Savings</option>
                    <!-- <option value="3">Other</option> -->
                  </select>

                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text bg-primary">
                    <i class="bi bi-person-plus-fill text-white"></i>
                  </span>
                  <select class="form-select" aria-label="toAccount" name="toAccount" id="toAccount">
                    <option value = "" selected>To Account</option>
                    <option value="Checking" onclick="showAccountID(this, 0)">Checking</option>
                    <option value="Savings" onclick="showAccountID(this, 0)">Savings</option>
                    <option value="Other" onclick="showAccountID(this, 1)">Other</option>
                  </select>
                </div>
                <div class="input-group mb-3" id="account_div" style="visibility: hidden;">
                  <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                  <input id="accountID" name="accountID" type="text" class="form-control" placeholder="Enter AccountID">
                </div>
                <div class="input-group mb-3" id="recipient_div" style="visibility: hidden;">
                  <span class="input-group-text bg-primary"><i class="bi bi-person-plus-fill text-white"></i></span>
                  <input id="recipient" name="recipient" type="text" class="form-control" placeholder="Recipient">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                  <input id="memo"  name="memo" type="text" class="form-control" placeholder="Enter Memo">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                    <input id="amount"  name="amount" type="number" min="0.01" step="0.01" max="2500" class="form-control" placeholder="Amount">
                  </div>    
                <div>
                  <p id="message" name="message" class="text-danger" style="height:25px;">
                    <%- locals.message %>
                  </p>
                </div>
                <!-- <input type="hidden" id="transferExternal" name="transferExternal"> -->
                <!-- <input type="hidden" id="salt" name="salt"> -->
                <button class="btn btn-primary mt-2" type="submit">
                  Send Money
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--   
  <div class="rounded d-flex justify-content-center">
    <button type="button" class="btn btn-primary" onclick="window.location.href='/'">Return to main</button>
  </div>
</div> -->
  
</body>

</html>